# Dependencies
/node_modules

# Build output
/dist
/out-tsc
/.angular/cache

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Misc
.DS_Store
*.log
npm-debug.log*
